<div class='card-with-description'>
  <img src='/images/beer.png' alt='beer' />

  <div class='buttons-container'>
    <a class='main-button' href='/beers'>
      Check the beers!
    </a>

    <a class='main-button' href='/random-beer'>
      Check a Random beer!
    </a>
  </div>
  <p>
    This page is a simple example of how to use the Punk API to display a list
    of beers and a random beer.
  </p>
</div>